.example-container {
  background: #f3f3f3;
  width: auto;
  height: 100%;
  /*margin: 10px;
  border: 1px solid #555;
  /* The background property is added to clearly distinguish the borders between drawer and main
     content 
  background-image: url('../assets/images/Encabezado.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;*/
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  /*align-items: center;
    justify-content: center;*/
}

.example-sidenav {
  padding: 20px;
}

.menu {
  width: 100%;
  height: 70px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 10px;
  background-color: #007bff;
  color: black;*/
  border-radius: 8px;
}

.menu-btn {
  border: none;
  color: black !important;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.img-logo {
  /*height: 5%;*/
  width: 15%;
}

.user-img {
  color: black !important;
  width: 50px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;  
  margin-left: 85%;
}

.btn-masinfo{
  width: fit-content; border-radius: 20px; background-color: #296bc3; color: white; font-weight: bold;
}

.boton-qr {
  border-radius: 10px;
  font-size: calc(1rem + 2vw);
}

.boton-qr > span{
  font-size: calc(1rem + 2vw);
  padding-right: 20px;
}

.boton-finalizar {
  border-radius: 10px;
  font-size: calc(1rem + 2vw);
}

.boton-finalizar > span{
  font-size: calc(1rem + 2vw);
  padding-right: 20px;
}

.subtitle,
.card,
.contacto {
  color: black;
  padding: 15px;
  /*background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);*/
}

.title {
  font-size: calc(1rem + 3vw);
  font-weight: bold;
  line-height: 30px;
  /*padding-bottom: 5%;*/
  text-align: center;
  
}

.subtitle {
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  padding-bottom: 0;
}

.line {
  width: 10%;
  height: 4px;
  background-color: #37b3ee;
  border-radius: 2px;
  margin-left: 15px;
}

.card {
  background-color: transparent;
  border-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*height: 60%;
  background-color: #ffc107;
  margin-top: 35%;*/
  padding: 0;
}

.card-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.card-content>div {
  flex: 1;
  /*background-color: #fff;
  border-radius: 5px 0 0 5px;*/
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.div-puntos {
  background: linear-gradient(180deg, rgba(105, 171, 255, 1) 0%, rgba(51, 115, 254, 1) 100%);
  border-radius: 10px 0 0 10px;
  margin-right: 10px;
  padding: 8% 0 8% 8%;
}

.div-postas {
  background-color: white;
  border-radius: 0 10px 10px 0;
  padding: 8% 0 0 8%;
}

.extra-div {
  /*height: 100px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;*/
  text-align: center;
}

.extra-div-historial {
  /*height: 100px;*/
  background-color: white;
  border-radius: 5px;
  padding: 0;
  text-align: center;
}

.thumbnail {
  width: 90%;
  cursor: pointer;
  transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.contacto {
  font-size: calc(1rem);
  font-weight: bold;
  padding-bottom: 0;
  text-align: center;
}