<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    @if (showFiller) {
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">

    <div class="container" (click)="redirigir()">
      <header>
        <!--button class="menu-btn" mat-button (click)="drawer.toggle()">
          <span class="material-symbols-outlined">
            menu
          </span>
        </button-->
        <!--img src="../assets/images/dirinfo.png" class="img-logo"/-->
        <button class="user-img" mat-button (click)="login()">
          <span class="material-symbols-outlined">
            person
          </span>
        </button>
      </header>
      <!--div class="title">Promoción de carreras UNSL</div>
      <div class="line"></div-->

      <div class="card">
        <div class="card-content">
          <div class="div-puntos"><app-puntos [puntos]="puntos"></app-puntos></div>

          <div class="div-postas"><app-postas [postas]="postas"></app-postas></div>

        </div>
      </div>

      <div class="subtitle">Mapa</div>
      <div class="line"></div>

      <div class="extra-div"><!--img style="width: 100%; box-shadow: 0 0 5px 5px #888888;"
          src="../assets/images/mapa.png" /-->
        <img src="../assets/images/mapa.png" alt="Imagen pequeña"
          (click)="openImageModal('../assets/images/mapa.png')" class="thumbnail" />

        <app-image-modal #imageModal></app-image-modal>
      </div>

      <div class="subtitle">Recorrido</div>
      <div class="line"></div>

      <div class="extra-div-historial">
        <app-historial></app-historial>
      </div>

      <div class="container mt-4">
        <div class="row">
          <div class="col-6 text-center">
            <button class="btn btn-primary w-70 boton-qr" (click)="escanear()">
              <span class="material-symbols-outlined">
                qr_code_scanner
              </span>Escanear</button>
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-secondary w-70 boton-finalizar" (click)="finalizar()">
              <span class="material-symbols-outlined">
                logout
              </span>Finalizar
            </button>
          </div>
        </div>
      </div>

      

    </div>

  </div>

</mat-drawer-container>