<div id="contenedor-carga" *ngIf="!cargaCompleta">
  <div style="text-align:center; width: 100%;">
  <img src="../assets/images/dirinfo.png" alt="Cargando...">
  <p style="font-style: italic;">Enviando datos...</p>
  </div>
  <br />
</div>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    @if (showFiller) {
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">

    <div class="container">
      <header>
        <button class="user-img" mat-button (click)="login()" style="position: absolute;
        top: 10px; /* Ajusta la distancia desde la parte superior */
        right: 20px; /* Ajusta la distancia desde la derecha */
        padding: 10px 20px;">
          <span class="material-symbols-outlined" style="font-weight: bold;">
            person
          </span>
        </button>
        <img src="../assets/images/Encabezado.png" style="display: block;
        width: 100%;
        height: auto;"/>
      </header>
      <div class="title">
        <button class="btn btn-sm btn-masinfo" (click)="redirigir()">
          <span class="material-symbols-outlined" style="font-size: small;font-weight: bold;">
            info
          </span> MÁS INFORMACIÓN 
        </button>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="div-puntos"><app-puntos [puntos]="puntos"></app-puntos></div>

          <div class="div-postas"><app-postas [postas]="postas"></app-postas></div>

        </div>
      </div>

      <div class="subtitle">Mapa</div>
      <div class="line"></div>

      <div class="extra-div"><!--img style="width: 100%; box-shadow: 0 0 5px 5px #888888;"
          src="../assets/images/mapa.png" /-->
        <img src="../assets/images/mapa.png" alt="Imagen pequeña" (click)="openImageModal('../assets/images/mapa.png')"
          class="thumbnail" />

        <app-image-modal #imageModal></app-image-modal>
      </div>

      <div class="subtitle">Recorrido</div>
      <div class="line"></div>

      <div class="extra-div-historial">
        <app-historial></app-historial>
      </div>

      <div id="liveAlertPlaceholder"></div>

      <div class="container mt-4">
        <div class="row">
          <div class="col-6 text-center">
            <button class="btn btn-primary w-70 boton-qr" (click)="escanear()">
              <span class="material-symbols-outlined">
                qr_code_scanner
              </span>Escanear</button>
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-dark w-70 boton-finalizar" (click)="finalizar()" [disabled]="(postas < 0) || disabledButton">
              <span class="material-symbols-outlined">
                logout
              </span>Finalizar
            </button>
          </div>
        </div>
      </div>

      <div class="contacto"><span class="badge text-bg-primary"><a href="mailto: promo.informatica.unsl@gmail.com" style="color: white;">promo.informatica.unsl&#64;gmail.com</a></span></div>
    </div>

  </div>

</mat-drawer-container>