<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    @if (showFiller) {
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">

    <div class="container">
      <header>
        <button class="menu-btn" mat-button (click)="drawer.toggle()">
          <span class="material-symbols-outlined">
          menu
        </span>
      </button>
        <div class="user-img"></div>
      </header>
      <div class="title">Promoción de carreras - UNSL</div>
      <div class="card">
        <div class="card-content">
          <div class="div-puntos"><app-puntos></app-puntos></div>
          
          <div class="div-postas"><app-postas></app-postas></div>
          
        </div>
      </div>
      <div class="extra-div"><img style="width: 50%; box-shadow: 0 0 5px 5px #888888;" src="../assets/images/banners-promocion-de-carreras.jpeg" /></div>
      
      <div class="subtitle">Recorrido</div>
      <div class="extra-div-historial"><app-historial></app-historial></div>
    </div>

  </div>

</mat-drawer-container>