<div class="container">
  <h2>{{ comunicacionService.isLogIn() ? 'Editar Usuario' : 'Registrar Usuario' }}</h2>
  <form [formGroup]="registroForm" (ngSubmit)="registrar()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre" class="form-control" />
    </div>
    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" formControlName="apellido" class="form-control" />
    </div>
    <div class="form-group">
      <label for="dni">DNI:</label>
      <input type="text" id="dni" formControlName="dni" class="form-control" />
    </div>
    <div class="form-group">
      <label for="escuela">Escuela:</label>
      <input type="text" id="escuela" formControlName="escuela" class="form-control" />
    </div>
    <div class="form-group">
      <label for="fechaNacimiento">Correo electrónico:</label>
      <input type="email" id="fechaNacimiento" formControlName="fechaNacimiento" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">{{ comunicacionService.isLogIn() ? 'Actualizar' : 'Registrar' }}</button>
  </form>
  <!--button (click)="loadUserData(comunicacionService.getUserID())">Cargar Usuario para Editar</button-->
</div>