/* You can add global styles to this file, and also import other style files */

html { height: 100%; }
@font-face {
    font-family: 'Agrandir';
    src: url('/assets/fonts/Agrandir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
body { 
    margin: 0; 
    font-family: 'Agrandir', sans-serif; 
}